<!-- page: OUR TEAM -->
<section id="team" class="l-section">
	
	<div class="l-subsection" style="background-image:url(img/placeholder/parallax.png);">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">
			
				<p class="subtitle">Changement de date, changement de nom</p>
				<h2 class="highlight"><strong>Faites de la Musique devient Ariège'n Zic</strong></h2>
				
				<p class="size_big">
				Merci aux 600 participants qui ont honoré Malegoude de leur bonne humeur.<br>
				Gratitude pour le travail impressionnant des 20 bénévoles de l'Asso et l'aide spontanée de nombreux festivaliers.<br>
				Mille mercis aux groupes et artistes qui ont animé nos deux scènes et réalisé des JAM SESSIONS d'un niveau remarquable jusqu'à l'aube.<br>
				Mention spéciale pour nos deux sonorisations au dévouement remarquable, Rainbow Spirit, Full Screen Visual, graffeurs ainsi que tous les artistes. Remerciements à la Communauté de Communes de Mirepoix et à tous les partenaires du réseau que nous avons pu tisser pour faire de cette édition 2013 une vraie réussite!<br>
				Merci !</p>
				

				<div class="g-hr type_invisible"></div>


				<a class="g-btn type_primary size_big green" scroll-to="#part-2" duration="1000" offset="80"><span>Edition 2013 <i class="fa fa-arrow-down"></i></span></a>
				
				<img ng-src="img/panorama.jpg" style="width:100%;padding-top:30px;"></img>
			</div>
		</div>
	</div>
		
</section>

<!-- page: OUR TEAM -->
<section id="part-2" class="l-section">
	
	<div class="l-subsection" style="background-image:url(img/placeholder/parallax.png);">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">
				
				<div class="g-hr type_invisible"></div>
				
				<div class="w-team">
					<div class="w-team-h">
						<div class="w-team-list">
						
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img ng-src="img/fdlm/WhiteCardRadio-500x500.jpg" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
											<h4 class="w-team-member-name"><i class="fa fa-chevron-right"></i> White Card Radio</h4>
										<h4 class="w-team-member-name"></h4>
										<div class="w-team-member-role">Electro Impro Jazz</div>
										<div class="w-team-member-role">
											Présent le vendredi 21 Juin 2013 18h30-20h30 
										</div>
									</div>
								</div>
							</div>
						
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img ng-src="img/fdlm/LaTheorieDesCordes-500x500.jpg" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<div class="w-team-member-meta-h">
											<h4 class="w-team-member-name"><i class="fa fa-chevron-right"></i> La théorie des Cordes</h4>
											<div class="w-team-member-role">Rock Progressif - Jazz Rock</div>
											<div class="w-team-member-role">
												Présent le vendredi 21 Juin 2013 20h30-23h00 
											</div>
										</div>
									</div>
								</div>
							</div>
					
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img ng-src="img/fdlm/GuitarHeroBeatmasher-500x500.jpg" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<div class="w-team-member-meta-h">
											<h4 class="w-team-member-name"><i class="fa fa-chevron-right"></i> Guitar Hero Beatmasher</h4>
											<h4 class="w-team-member-name"></h4>
											<div class="w-team-member-role">Psybient - Rock Psychedelique</div>
											<div class="w-team-member-role">
												Présent le vendredi 21 Juin 2013 23h00-00h30 
											</div>
										</div>
									</div>
								</div>
							</div>
					
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img ng-src="img/fdlm/Drivin-South-500x500.jpg" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<div class="w-team-member-meta-h">
											<h4 class="w-team-member-name"><i class="fa fa-chevron-right"></i> Drivin' South</h4>
											<div class="w-team-member-role">Blues Rock Funk</div>
											<div class="w-team-member-role">
												Présent le vendredi 21 Juin 2013 00h30-03h00 
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img ng-src="img/fdlm/GastonFive-500x500.jpg" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<h4 class="w-team-member-name"><i class="fa fa-chevron-right"></i> Gaston Five</h4>
										<div class="w-team-member-role">Rock</div>
										<div class="w-team-member-role">
											Présent le samedi 22 Juin 2013 18h30-21h00 
										</div>
										
									</div>
								</div>
							</div>
					
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img ng-src="img/artistes/tremix1.jpg" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<h4 class="w-team-member-name"><i class="fa fa-chevron-right"></i> Tremix</h4>
										<div class="w-team-member-role">Ska Rock Balkan Reggae Swing</div>
										<div class="w-team-member-role">
											Présent le samedi 22 Juin 2013 21h00-00h00 
										</div>
									</div>
								</div>
							</div>
					
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img ng-src="img/fdlm/DaKrewLab-500x500.jpg" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<h4 class="w-team-member-name"><i class="fa fa-chevron-right"></i> Da Krew Lab</h4>
										<div class="w-team-member-role">Exp Electro Break Drum'n Tek</div>
										<div class="w-team-member-role">
											Présent le samedi 22 Juin 2013 00h00-01h45
										</div>
									</div>
								</div>
							</div>
					
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img ng-src="img/fdlm/psykoyot-500x500.jpg" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<h4 class="w-team-member-name"><i class="fa fa-chevron-right"></i> DJ Psykoyot</h4>
										<div class="w-team-member-role">Trance Trance full on Night</div>
										<div class="w-team-member-role">
											Présent le samedi 22 Juin 2013 03h45-04h30 puis 5h30-7h00
										</div>
									</div>
								</div>
							</div>
					
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img ng-src="img/fdlm/Sychodelicious-500x500.jpg" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<h4 class="w-team-member-name"><i class="fa fa-chevron-right"></i> Sychodelicious</h4>
										<div class="w-team-member-role">Trance Trance full on Night</div>
										<div class="w-team-member-role">
											Présent le samedi 22 Juin 2013 04h30-05h30
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="g-hr type_invisible"></div>

			</div>
		</div>
	</div>
</section>

<!-- page: SERVICES -->
<section id="services" class="l-section">
	
	
	<div id="parallax_subsection_2" class="l-subsection color_dark with_parallax" style="background-image:url(img/placeholder/parallax.png);">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">
			
				<h3>Nos <strong>sponsors</strong> qui rendent l'évènement <strong>possible</strong></h3>
				
				<div class="w-clients-h">
					<div class="w-clients-list">
						<div class="w-clients-list-h">
							<a class="w-clients-item" href="javascript:void(0);">
								<img ng-src="http://upload.wikimedia.org/wikipedia/fr/c/c0/Super_U_logo.png" alt="Client logo" />
							</a>
							<a class="w-clients-item" href="javascript:void(0);">
								<img ng-src="http://www.annuaire-mairie.fr/panneau-malegoude.png" alt="Client logo" />
							</a>
							<a class="w-clients-item" href="javascript:void(0);">
								<img ng-src="img/mairie_mirepoix.gif" alt="Client logo" />
							</a>
						</div>
					</div>
					<a class="w-clients-nav to_prev disabled" href="javascript:void(0)" title="Show previous"></a>
					<a class="w-clients-nav to_next" href="javascript:void(0)" title="Show next"></a>
				</div>
				
			</div>
		</div>
	</div>

</section>
<script type="text/javascript">
	window.resizeHandler();
	window.scrollTo(0,0);
</script>