<!-- page: OUR TEAM -->
<section id="team" class="l-section">
	
	<div class="l-subsection">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">
			
				<p class="subtitle">L'association Faites de la Musique</p>
				<h2 class="highlight"><strong>Lorem ipsum dolor </strong></h2>
				
				<p class="size_big">Tandis que la Fdlm Team finit le démontage et le rangement de nos installations, nous nous retournons déjà avec une fierté mêlée de nostalgie sur ce week-end magique qui s'achève.<br>
				Merci aux 600 participants qui ont honoré Malegoude de leur bonne humeur.<br>
				Gratitude pour le travail impressionnant des 20 bénévoles de l'Asso et l'aide spontanée de nombreux festivaliers.<br>
				Mille mercis aux groupes et artistes qui ont animé nos deux scènes et réalisé des JAM SESSIONS d'un niveau remarquable jusqu'à l'aube.<br>
				Mention spéciale pour nos deux sonorisations au dévouement remarquable, Rainbow Spirit, Full Screen Visual, graffeurs ainsi que tous les artistes. Remerciements à la Communauté de Communes de Mirepoix et à tous les partenaires du réseau que nous avons pu tisser pour faire de cette édition 2013 une vraie réussite!<br>
				Merci !</p>
				

				<div class="g-hr type_invisible"></div>


				<a class="g-btn type_primary size_big" href="#part-2" target="_self"><span>Continuez notre navigation</span></a>
				
				
			</div>
		</div>
	</div>
		
</section>

<!-- page: OUR TEAM -->
<section id="part-2" class="l-section">
	
	<div class="l-subsection">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">
			
				<p class="subtitle">LineUp de 2013?</p>
				
				<p class="size_big">Nos styles ... Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
				
				<div class="g-hr type_invisible"></div>
				
				<div class="w-team">
					<div class="w-team-h">
						<div class="w-team-list">
						
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/placeholder/500x500.gif" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<h4 class="w-team-member-name">Ruslan Sukhar</h4>
										<div class="w-team-member-role">CEO</div>
										<div class="w-team-member-links">
											<div class="w-team-member-links-list">
												<a class="w-team-member-links-item" href="http://www.fb.com/" target="_blank"><i class="fa fa-facebook"></i></a>
												<a class="w-team-member-links-item" href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
												<a class="w-team-member-links-item" href="http://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/placeholder/500x500.gif" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<div class="w-team-member-meta-h">
											<h4 class="w-team-member-name">Aleksandr Kovalev</h4>
											<div class="w-team-member-role">Senior designer</div>
											<div class="w-team-member-links">
												<div class="w-team-member-links-list">
													<a class="w-team-member-links-item" href="http://www.fb.com/" target="_blank"><i class="fa fa-facebook"></i></a>
													<a class="w-team-member-links-item" href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/placeholder/500x500.gif" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<div class="w-team-member-meta-h">
											<h4 class="w-team-member-name">Roman Bayburin</h4>
											<div class="w-team-member-role">Senior developer</div>
											<div class="w-team-member-links">
												<div class="w-team-member-links-list">
													<a class="w-team-member-links-item" href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
													<a class="w-team-member-links-item" href="http://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/placeholder/500x500.gif" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<div class="w-team-member-meta-h">
											<h4 class="w-team-member-name">Stepan Astionov</h4>
											<div class="w-team-member-role">UX Expert</div>
											<div class="w-team-member-links">
												<div class="w-team-member-links-list">
													<a class="w-team-member-links-item" href="http://www.fb.com/" target="_blank"><i class="fa fa-facebook"></i></a>
													<a class="w-team-member-links-item" href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
													<a class="w-team-member-links-item" href="http://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
													<a class="w-team-member-links-item" href="http://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/placeholder/500x500.gif" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<h4 class="w-team-member-name">Olga Semenova</h4>
										<div class="w-team-member-role">Manager</div>
										<div class="w-team-member-links">
											<div class="w-team-member-links-list">
												<a class="w-team-member-links-item" href="http://www.fb.com/" target="_blank"><i class="fa fa-facebook"></i></a>
												<a class="w-team-member-links-item" href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
												<a class="w-team-member-links-item" href="http://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/placeholder/500x500.gif" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<div class="w-team-member-meta-h">
											<h4 class="w-team-member-name">Ruslan Farkhutdinov</h4>
											<div class="w-team-member-role">Designer</div>
											<div class="w-team-member-links">
												<div class="w-team-member-links-list">
													<a class="w-team-member-links-item" href="http://www.fb.com/" target="_blank"><i class="fa fa-facebook"></i></a>
													<a class="w-team-member-links-item" href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/placeholder/500x500.gif" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<div class="w-team-member-meta-h">
											<h4 class="w-team-member-name">Yuliya Lebedeva</h4>
											<div class="w-team-member-role">Developer</div>
											<div class="w-team-member-links">
												<div class="w-team-member-links-list">
													<a class="w-team-member-links-item" href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
													<a class="w-team-member-links-item" href="http://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/placeholder/500x500.gif" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<div class="w-team-member-meta-h">
											<h4 class="w-team-member-name">Alina Komarova</h4>
											<div class="w-team-member-role">Manager</div>
											<div class="w-team-member-links">
												<div class="w-team-member-links-list">
													<a class="w-team-member-links-item" href="http://www.fb.com/" target="_blank"><i class="fa fa-facebook"></i></a>
													<a class="w-team-member-links-item" href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
													<a class="w-team-member-links-item" href="http://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
													<a class="w-team-member-links-item" href="http://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					
						</div>
					</div>
				</div>

				<div class="g-hr type_invisible"></div>


				<img src="vieassociative/1043926_622523037760398_534570403_n.jpg">
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
	window.resizeHandler();
	window.scrollTo(0,0);
</script>