<!-- page: OUR TEAM -->
<section id="team" class="l-section col-sm-10 col-sm-push-1">
	
	<div class="l-subsection">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">
			
				<p class="subtitle">Who we are?</p>
				<h2 class="highlight"><strong>We are CORSA</strong></h2>
				
				<p class="size_big">This is our dedicated team who work day-in and day-out together to bring our clients<br>the most amazing projects for a digitally connected world.</p>
				
				<div class="g-hr type_invisible"></div>
				
				<div class="w-team">
					<div class="w-team-h">
						<div class="w-team-list">
						
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/placeholder/500x500.gif" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<h4 class="w-team-member-name">Ruslan Sukhar</h4>
										<div class="w-team-member-role">CEO</div>
										<div class="w-team-member-links">
											<div class="w-team-member-links-list">
												<a class="w-team-member-links-item" href="http://www.fb.com/" target="_blank"><i class="fa fa-facebook"></i></a>
												<a class="w-team-member-links-item" href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
												<a class="w-team-member-links-item" href="http://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/placeholder/500x500.gif" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<div class="w-team-member-meta-h">
											<h4 class="w-team-member-name">Aleksandr Kovalev</h4>
											<div class="w-team-member-role">Senior designer</div>
											<div class="w-team-member-links">
												<div class="w-team-member-links-list">
													<a class="w-team-member-links-item" href="http://www.fb.com/" target="_blank"><i class="fa fa-facebook"></i></a>
													<a class="w-team-member-links-item" href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/placeholder/500x500.gif" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<div class="w-team-member-meta-h">
											<h4 class="w-team-member-name">Roman Bayburin</h4>
											<div class="w-team-member-role">Senior developer</div>
											<div class="w-team-member-links">
												<div class="w-team-member-links-list">
													<a class="w-team-member-links-item" href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
													<a class="w-team-member-links-item" href="http://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/placeholder/500x500.gif" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<div class="w-team-member-meta-h">
											<h4 class="w-team-member-name">Stepan Astionov</h4>
											<div class="w-team-member-role">UX Expert</div>
											<div class="w-team-member-links">
												<div class="w-team-member-links-list">
													<a class="w-team-member-links-item" href="http://www.fb.com/" target="_blank"><i class="fa fa-facebook"></i></a>
													<a class="w-team-member-links-item" href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
													<a class="w-team-member-links-item" href="http://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
													<a class="w-team-member-links-item" href="http://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/placeholder/500x500.gif" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<h4 class="w-team-member-name">Olga Semenova</h4>
										<div class="w-team-member-role">Manager</div>
										<div class="w-team-member-links">
											<div class="w-team-member-links-list">
												<a class="w-team-member-links-item" href="http://www.fb.com/" target="_blank"><i class="fa fa-facebook"></i></a>
												<a class="w-team-member-links-item" href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
												<a class="w-team-member-links-item" href="http://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/placeholder/500x500.gif" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<div class="w-team-member-meta-h">
											<h4 class="w-team-member-name">Ruslan Farkhutdinov</h4>
											<div class="w-team-member-role">Designer</div>
											<div class="w-team-member-links">
												<div class="w-team-member-links-list">
													<a class="w-team-member-links-item" href="http://www.fb.com/" target="_blank"><i class="fa fa-facebook"></i></a>
													<a class="w-team-member-links-item" href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/placeholder/500x500.gif" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<div class="w-team-member-meta-h">
											<h4 class="w-team-member-name">Yuliya Lebedeva</h4>
											<div class="w-team-member-role">Developer</div>
											<div class="w-team-member-links">
												<div class="w-team-member-links-list">
													<a class="w-team-member-links-item" href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
													<a class="w-team-member-links-item" href="http://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/placeholder/500x500.gif" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<div class="w-team-member-meta-h">
											<h4 class="w-team-member-name">Alina Komarova</h4>
											<div class="w-team-member-role">Manager</div>
											<div class="w-team-member-links">
												<div class="w-team-member-links-list">
													<a class="w-team-member-links-item" href="http://www.fb.com/" target="_blank"><i class="fa fa-facebook"></i></a>
													<a class="w-team-member-links-item" href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
													<a class="w-team-member-links-item" href="http://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
													<a class="w-team-member-links-item" href="http://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
		
</section>

<script type="text/javascript">
	window.resizeHandler();
</script>