
<!-- page: HOME -->
<section id="home" class="l-section">
	
	<div id="parallax_subsection_0" class="l-subsection color_dark with_parallax" style="background-image:url(img/placeholder/1200x800.gif);">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">
				<h1 class="home-heading">
					<span class="home-heading-line bold">Wonderful Digital Things</span>
					<span class="home-heading-line">and a pinch of creativity</span>
				</h1>
				<a class="g-btn type_primary size_big" smooth-scroll-jquery target="about" speed="1000"><span>Learn More</span></a>
			</div>
		</div>
	</div>

</section>

<!-- page: ABOUT -->
<section id="about" class="l-section">
	
	<div class="l-subsection">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">
			
				<h2><strong>About CORSA</strong></h2>
				
				<div class="g-hr type_short">
					<span class="g-hr-h">
						<i class="fa fa-heart"></i>
					</span>
				</div>
				
				<p class="subtitle">CORSA is an award winning <strong class="highlight">interactive agency</strong><br>working for <strong class="highlight">leading brands</strong> worldwide</p>
				
				<div class="g-hr type_invisible"></div>
				
				<div class="g-cols">
					<div class="one-half">
						<p class="align_left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit nulla mi, ut pellentesque felis fermentum et. Quisque nec est euismod, egestas lorem nec, volutpat nunc. Phasellus neque lectus, convallis non consectetur non, molestie ac enim. Suspendisse et tincidunt urna.</p>
					</div>
					<div class="one-half">
						<p class="align_left">Donec ante justo, scelerisque a iaculis vitae, accumsan nec risus. Integer quis lacinia ligula. Sed id nunc interdum, lobortis arcu sit amet, interdum libero. Integer adipiscing, metus vel molestie tempus, magna tortor adipiscing lorem, accumsan accumsan arcu arcu nec metus.</p>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<div class="l-subsection color_alternate">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">

				<p class="subtitle">What we do?</p>
				<h3 class="highlight"><strong>Powerful websites that look beautiful</strong></h3>
				
				<div class="g-hr type_invisible"></div>
				
				<div class="g-cols">
					<div class="one-third">
					
						<div class="w-iconbox iconpos_top with_circle">
							<div class="w-iconbox-h">
								<div class="w-iconbox-link">
									<div class="w-iconbox-icon">
										<i class="fa fa-rocket"></i>
									</div>
									<h4 class="w-iconbox-title">From Zero to One</h4>
								</div>
								<div class="w-iconbox-text">
									<p>We are moving from zero to one, not from one to hundred. That means we are focused on creating new solutions, not copying the existing ones.</p>
								</div>
							</div>
						</div>
						
					</div>
					<div class="one-third">
					
						<div class="w-iconbox iconpos_top with_circle">
							<div class="w-iconbox-h">
								<div class="w-iconbox-link">
									<div class="w-iconbox-icon">
										<i class="fa fa-thumbs-up"></i>
									</div>
									<h4 class="w-iconbox-title">Our Level Up</h4>
								</div>
								<div class="w-iconbox-text">
									<p>Working with us you will work with professional certified designers and engineers having the vast good experience.</p>
								</div>
							</div>
						</div>
						
					</div>
					<div class="one-third">
					
						<div class="w-iconbox iconpos_top with_circle">
							<div class="w-iconbox-h">
								<div class="w-iconbox-link">
									<div class="w-iconbox-icon">
										<i class="fa fa-heart"></i>
									</div>
									<h4 class="w-iconbox-title">Your satisfaction</h4>
								</div>
								<div class="w-iconbox-text">
									<p>Creating a design it is not an end in itself, but a means. We understand the rules of the games. It’s about to make you happy.</p>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
				<div class="g-hr type_invisible"></div>
				
				<a class="g-btn type_default" href="#portfolio"><span><i class="fa fa-arrow-down"></i>View Works</span></a>
				
			</div>
		</div>
	</div>

	<div class="l-subsection">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">
			
				<h4>How about Some Fun Facts about our agency?</h4>
				
				<div class="g-hr type_invisible"></div>
				
				<div class="g-cols">
					<div class="one-fourth">
					
						<div class="w-counter">
							<div class="w-counter-h">
								<div class="w-counter-number">345</div>
								<h6 class="w-counter-title">Pizzas ordered</h6>
							</div>
						</div>
						
					</div>
					<div class="one-fourth">
					
						<div class="w-counter">
							<div class="w-counter-h">
								<div class="w-counter-number">87</div>
								<h6 class="w-counter-title">Clients we've worked with</h6>
							</div>
						</div>
						
					</div>
					<div class="one-fourth">
					
						<div class="w-counter">
							<div class="w-counter-h">
								<div class="w-counter-number">126</div>
								<h6 class="w-counter-title">Projects completed</h6>
							</div>
						</div>
						
					</div>
					<div class="one-fourth">
					
						<div class="w-counter">
							<div class="w-counter-h">
								<div class="w-counter-number">50</div>
								<h6 class="w-counter-title">Magazines published</h6>
							</div>
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	<div id="parallax_subsection_1" class="l-subsection color_dark with_parallax" style="background-image:url(img/placeholder/parallax.png);">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">
			
				<h2>CORSA is a <strong>creative studio</strong> dedicated<br>to crafting <strong>meaninful image</strong></h2>
				
			</div>
		</div>
	</div>

</section>

<!-- page: OUR TEAM -->
<section id="team" class="l-section">
	
	<div class="l-subsection">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">
			
				<p class="subtitle">Who we are?</p>
				<h2 class="highlight"><strong>We are CORSA</strong></h2>
				
				<p class="size_big">This is our dedicated team who work day-in and day-out together to bring our clients<br>the most amazing projects for a digitally connected world.</p>
				
				<div class="g-hr type_invisible"></div>
				
				<div class="w-team">
					<div class="w-team-h">
						<div class="w-team-list">
						
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/placeholder/500x500.gif" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<h4 class="w-team-member-name">Ruslan Sukhar</h4>
										<div class="w-team-member-role">CEO</div>
										<div class="w-team-member-links">
											<div class="w-team-member-links-list">
												<a class="w-team-member-links-item" href="http://www.fb.com/" target="_blank"><i class="fa fa-facebook"></i></a>
												<a class="w-team-member-links-item" href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
												<a class="w-team-member-links-item" href="http://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/placeholder/500x500.gif" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<div class="w-team-member-meta-h">
											<h4 class="w-team-member-name">Aleksandr Kovalev</h4>
											<div class="w-team-member-role">Senior designer</div>
											<div class="w-team-member-links">
												<div class="w-team-member-links-list">
													<a class="w-team-member-links-item" href="http://www.fb.com/" target="_blank"><i class="fa fa-facebook"></i></a>
													<a class="w-team-member-links-item" href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/placeholder/500x500.gif" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<div class="w-team-member-meta-h">
											<h4 class="w-team-member-name">Roman Bayburin</h4>
											<div class="w-team-member-role">Senior developer</div>
											<div class="w-team-member-links">
												<div class="w-team-member-links-list">
													<a class="w-team-member-links-item" href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
													<a class="w-team-member-links-item" href="http://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/placeholder/500x500.gif" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<div class="w-team-member-meta-h">
											<h4 class="w-team-member-name">Stepan Astionov</h4>
											<div class="w-team-member-role">UX Expert</div>
											<div class="w-team-member-links">
												<div class="w-team-member-links-list">
													<a class="w-team-member-links-item" href="http://www.fb.com/" target="_blank"><i class="fa fa-facebook"></i></a>
													<a class="w-team-member-links-item" href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
													<a class="w-team-member-links-item" href="http://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
													<a class="w-team-member-links-item" href="http://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/placeholder/500x500.gif" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<h4 class="w-team-member-name">Olga Semenova</h4>
										<div class="w-team-member-role">Manager</div>
										<div class="w-team-member-links">
											<div class="w-team-member-links-list">
												<a class="w-team-member-links-item" href="http://www.fb.com/" target="_blank"><i class="fa fa-facebook"></i></a>
												<a class="w-team-member-links-item" href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
												<a class="w-team-member-links-item" href="http://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/placeholder/500x500.gif" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<div class="w-team-member-meta-h">
											<h4 class="w-team-member-name">Ruslan Farkhutdinov</h4>
											<div class="w-team-member-role">Designer</div>
											<div class="w-team-member-links">
												<div class="w-team-member-links-list">
													<a class="w-team-member-links-item" href="http://www.fb.com/" target="_blank"><i class="fa fa-facebook"></i></a>
													<a class="w-team-member-links-item" href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/placeholder/500x500.gif" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<div class="w-team-member-meta-h">
											<h4 class="w-team-member-name">Yuliya Lebedeva</h4>
											<div class="w-team-member-role">Developer</div>
											<div class="w-team-member-links">
												<div class="w-team-member-links-list">
													<a class="w-team-member-links-item" href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
													<a class="w-team-member-links-item" href="http://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/placeholder/500x500.gif" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<div class="w-team-member-meta-h">
											<h4 class="w-team-member-name">Alina Komarova</h4>
											<div class="w-team-member-role">Manager</div>
											<div class="w-team-member-links">
												<div class="w-team-member-links-list">
													<a class="w-team-member-links-item" href="http://www.fb.com/" target="_blank"><i class="fa fa-facebook"></i></a>
													<a class="w-team-member-links-item" href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
													<a class="w-team-member-links-item" href="http://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
													<a class="w-team-member-links-item" href="http://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
		
</section>

<!-- page: PORTFOLIO -->
<section id="portfolio" class="l-section">
	
	<div class="l-subsection full_height">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">
			
				<div class="g-hr type_invisible"></div>
			
				<h2>A glimpse of work we've done for<br>forward thinking brands and clients.</h2>
				
				<div class="w-icon size_small with_circle color_border">
					<span class="w-icon-link">
						<i class="fa fa-chevron-down"></i>
					</span>
				</div>
				
				<div class="g-hr type_invisible"></div>
				
			</div>
		</div>
	</div>
	
	<div class="l-subsection full_width full_height">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">

				<div class="w-portfolio">
					<div class="w-portfolio-h">
						<div class="w-portfolio-list">
							<div class="w-portfolio-list-h">

								<div class="w-portfolio-item">
									<div class="w-portfolio-item-h">
										<a class="w-portfolio-item-anchor" href="javascript:void(0);">
											<div class="w-portfolio-item-image" style="background-image:url(img/placeholder/500x500.gif);"></div>
											<div class="w-portfolio-item-meta">
												<h2 class="w-portfolio-item-title">Oil Painting</h2>
											</div>
											<div class="w-portfolio-item-hover"><i class="fa fa-plus"></i></div>
										</a>

										<div class="w-portfolio-item-details" style="display: none;">
											<div class="w-portfolio-item-details-h">
												<div class="w-portfolio-item-details-content">
													<div class="w-portfolio-item-details-content-preview">
														<img src="img/placeholder/500x500.gif" alt="">
													</div>
													<div class="w-portfolio-item-details-content-text">
														<h3>Oil Painting Project</h3>
														<p>Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat.</p>
														<p>Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.</p>
														<h5>Project Details</h5>
														<ul>
															<li><strong>Client:</strong> Themeforest</li>
															<li><strong>Date:</strong> 26th April, 2013</li>
															<li><strong>Skills:</strong> Photography, Design, Photoshop</li>
														</ul>
														<a class="g-btn type_primary size_small" href="javascript:void(0);"><span><i class="fa fa-rocket"></i>Launch Project</span></a>
													</div>
												</div>

												<div class="w-portfolio-item-details-close"></div>
												<div class="w-portfolio-item-details-arrow to_prev"><i class="fa fa-angle-left"></i></div>
												<div class="w-portfolio-item-details-arrow to_next"><i class="fa fa-angle-right"></i></div>

											</div>
										</div>

									</div>
								</div>
								<div class="w-portfolio-item">
									<div class="w-portfolio-item-h">
										<a class="w-portfolio-item-anchor" href="javascript:void(0);">
											<div class="w-portfolio-item-image" style="background-image:url(img/placeholder/500x500.gif);"></div>
											<div class="w-portfolio-item-meta">
												<h2 class="w-portfolio-item-title">Website Development</h2>
											</div>
											<div class="w-portfolio-item-hover"><i class="fa fa-plus"></i></div>
										</a>
										
										<div class="w-portfolio-item-details" style="display: none;">
											<div class="w-portfolio-item-details-h">
												<div class="w-portfolio-item-details-content">
													<div class="w-portfolio-item-details-content-preview">
														<img src="img/placeholder/500x500.gif" alt="">
													</div>
													<div class="w-portfolio-item-details-content-text">
														<h3>Website Development</h3>
														<p>Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci.</p>
														<p>Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Nunc volutpat odio sit amet, consectetur adipiscing elit.</p>
														<a class="g-btn type_default" href="javascript:void(0);"><span><i class="fa fa-rocket"></i>Launch Project</span></a>
													</div>
												</div>
												
												<div class="w-portfolio-item-details-close"></div>
												<div class="w-portfolio-item-details-arrow to_prev"><i class="fa fa-angle-left"></i></div>
												<div class="w-portfolio-item-details-arrow to_next"><i class="fa fa-angle-right"></i></div>
												
											</div>
										</div>
										
									</div>
								</div>
								<div class="w-portfolio-item">
									<div class="w-portfolio-item-h">
										<a class="w-portfolio-item-anchor" href="javascript:void(0);">
											<div class="w-portfolio-item-image" style="background-image:url(img/placeholder/500x500.gif);"></div>
											<div class="w-portfolio-item-meta">
												<h2 class="w-portfolio-item-title">Space Business Solutions</h2>
											</div>
											<div class="w-portfolio-item-hover"><i class="fa fa-plus"></i></div>
										</a>

										<div class="w-portfolio-item-details" style="display: none;">
											<div class="w-portfolio-item-details-h">
												<div class="w-portfolio-item-details-content">
													<div class="w-portfolio-item-details-content-preview">
														<img src="img/placeholder/500x500.gif" alt="">
													</div>
													<div class="w-portfolio-item-details-content-text">
														<h3>Space Business Solutions</h3>
														<p>Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Nunc volutpat odio sit amet, consectetur adipiscing elit.</p>
														<a class="g-btn type_primary size_small" href="javascript:void(0);"><span>Launch Project</span></a>
													</div>
												</div>

												<div class="w-portfolio-item-details-close"></div>
												<div class="w-portfolio-item-details-arrow to_prev"><i class="fa fa-angle-left"></i></div>
												<div class="w-portfolio-item-details-arrow to_next"><i class="fa fa-angle-right"></i></div>

											</div>
										</div>

									</div>
								</div>
								<div class="w-portfolio-item">
									<div class="w-portfolio-item-h">
										<a class="w-portfolio-item-anchor" href="javascript:void(0);">
											<div class="w-portfolio-item-image" style="background-image:url(img/placeholder/500x500.gif);"></div>
											<div class="w-portfolio-item-meta">
												<h2 class="w-portfolio-item-title">Video Project</h2>
											</div>
											<div class="w-portfolio-item-hover"><i class="fa fa-plus"></i></div>
										</a>

										<div class="w-portfolio-item-details" style="display: none;">
											<div class="w-portfolio-item-details-h">
												<div class="w-portfolio-item-details-content">
													<div class="w-portfolio-item-details-content-preview">
														<div class="w-video ratio_16-9">
															<div class="w-video-h">
																<iframe src="http://player.vimeo.com/video/48363485"></iframe>
															</div>
														</div>
													</div>
													<div class="w-portfolio-item-details-content-text">
														<h3>Video Project</h3>
														<p>Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Nunc volutpat odio sit amet, consectetur adipiscing elit.</p>
														<a class="g-btn type_primary" href="javascript:void(0);"><span><i class="fa fa-arrow-right"></i>Push the Button</span></a>
													</div>
												</div>

												<div class="w-portfolio-item-details-close"></div>
												<div class="w-portfolio-item-details-arrow to_prev"><i class="fa fa-angle-left"></i></div>
												<div class="w-portfolio-item-details-arrow to_next"><i class="fa fa-angle-right"></i></div>

											</div>
										</div>

									</div>
								</div>
								<div class="w-portfolio-item">
									<div class="w-portfolio-item-h">
										<a class="w-portfolio-item-anchor" href="javascript:void(0);">
											<div class="w-portfolio-item-image" style="background-image:url(img/placeholder/500x500.gif);"></div>
											<div class="w-portfolio-item-meta">
												<h2 class="w-portfolio-item-title">Wildlife Photography</h2>
											</div>
											<div class="w-portfolio-item-hover"><i class="fa fa-plus"></i></div>
										</a>

										<div class="w-portfolio-item-details" style="display: none;">
											<div class="w-portfolio-item-details-h">
												<div class="w-portfolio-item-details-content">
													<div class="w-portfolio-item-details-content-preview">
														<img src="img/placeholder/500x500.gif" alt="">
													</div>
													<div class="w-portfolio-item-details-content-text">
														<h3>Wildlife Photography</h3>
														<p>Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus.</p>
														<p>Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Nunc volutpat odio sit amet, consectetur adipiscing elit.</p>
														<a class="g-btn type_primary" href="javascript:void(0);"><span>Launch Project</span></a>
													</div>
												</div>

												<div class="w-portfolio-item-details-close"></div>
												<div class="w-portfolio-item-details-arrow to_prev"><i class="fa fa-angle-left"></i></div>
												<div class="w-portfolio-item-details-arrow to_next"><i class="fa fa-angle-right"></i></div>

											</div>
										</div>

									</div>
								</div>
								<div class="w-portfolio-item">
									<div class="w-portfolio-item-h">
										<a class="w-portfolio-item-anchor" href="javascript:void(0);">
											<div class="w-portfolio-item-image" style="background-image:url(img/placeholder/500x500.gif);"></div>
											<div class="w-portfolio-item-meta">
												<h2 class="w-portfolio-item-title">Custom Templates</h2>
											</div>
											<div class="w-portfolio-item-hover"><i class="fa fa-plus"></i></div>
										</a>

										<div class="w-portfolio-item-details" style="display: none;">
											<div class="w-portfolio-item-details-h">
												<div class="w-portfolio-item-details-content">
													<div class="w-portfolio-item-details-content-preview">
														<img src="img/placeholder/500x500.gif" alt="">
													</div>
													<div class="w-portfolio-item-details-content-text">
														<h3>Custom Templates</h3>
														<p>Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci.</p>
														<h5>Project Details</h5>
														<ul>
															<li><strong>Client:</strong> Themeforest</li>
															<li><strong>Date:</strong> 26th April, 2013</li>
															<li><strong>Skills:</strong> Photography, Design, Photoshop</li>
														</ul>
														<a class="g-btn type_secondary size_small" href="javascript:void(0);"><span>Launch Project</span></a>
													</div>
												</div>

												<div class="w-portfolio-item-details-close"></div>
												<div class="w-portfolio-item-details-arrow to_prev"><i class="fa fa-angle-left"></i></div>
												<div class="w-portfolio-item-details-arrow to_next"><i class="fa fa-angle-right"></i></div>

											</div>
										</div>

									</div>
								</div>

								<div class="w-portfolio-item">
									<div class="w-portfolio-item-h">
										<a class="w-portfolio-item-anchor" href="javascript:void(0);">
											<div class="w-portfolio-item-image" style="background-image:url(img/placeholder/500x500.gif);"></div>
											<div class="w-portfolio-item-meta">
												<h2 class="w-portfolio-item-title">Mobile Development</h2>
											</div>
											<div class="w-portfolio-item-hover"><i class="fa fa-plus"></i></div>
										</a>

										<div class="w-portfolio-item-details" style="display: none;">
											<div class="w-portfolio-item-details-h">
												<div class="w-portfolio-item-details-content">
													<div class="w-portfolio-item-details-content-preview">
														<img src="img/placeholder/500x500.gif" alt="">
													</div>
													<div class="w-portfolio-item-details-content-text">
														<h3>Mobile Development</h3>
														<p>Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Nunc volutpat odio sit amet, consectetur adipiscing elit.</p>
														<a class="g-btn type_primary" href="javascript:void(0);"><span><i class="fa fa-arrow-right"></i>Launch Project</span></a>
													</div>
												</div>

												<div class="w-portfolio-item-details-close"></div>
												<div class="w-portfolio-item-details-arrow to_prev"><i class="fa fa-angle-left"></i></div>
												<div class="w-portfolio-item-details-arrow to_next"><i class="fa fa-angle-right"></i></div>

											</div>
										</div>

									</div>
								</div>
								<div class="w-portfolio-item">
									<div class="w-portfolio-item-h">
										<a class="w-portfolio-item-anchor" href="javascript:void(0);">
											<div class="w-portfolio-item-image" style="background-image:url(img/placeholder/500x500.gif);"></div>
											<div class="w-portfolio-item-meta">
												<h2 class="w-portfolio-item-title">Nature Photography</h2>
											</div>
											<div class="w-portfolio-item-hover"><i class="fa fa-plus"></i></div>
										</a>

										<div class="w-portfolio-item-details" style="display: none;">
											<div class="w-portfolio-item-details-h">
												<div class="w-portfolio-item-details-content">
													<div class="w-portfolio-item-details-content-preview">
														<img src="img/placeholder/500x500.gif" alt="">
													</div>
													<div class="w-portfolio-item-details-content-text">
														<h3>Nature Photography Single Project</h3>
														<p>Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Nunc volutpat odio sit amet, consectetur adipiscing elit.</p>
														<h5>Project Details</h5>
														<ul>
															<li><strong>Client:</strong> Themeforest</li>
															<li><strong>Date:</strong> 26th April, 2013</li>
															<li><strong>Skills:</strong> Photography, Design, Photoshop</li>
														</ul>
														<a class="g-btn type_default size_small" href="javascript:void(0);"><span>Push the Button</span></a>
													</div>
												</div>

												<div class="w-portfolio-item-details-close"></div>
												<div class="w-portfolio-item-details-arrow to_prev"><i class="fa fa-angle-left"></i></div>
												<div class="w-portfolio-item-details-arrow to_next"><i class="fa fa-angle-right"></i></div>

											</div>
										</div>

									</div>
								</div>
								<div class="w-portfolio-item">
									<div class="w-portfolio-item-h">
										<a class="w-portfolio-item-anchor" href="javascript:void(0);">
											<div class="w-portfolio-item-image" style="background-image:url(img/placeholder/500x500.gif);"></div>
											<div class="w-portfolio-item-meta">
												<h2 class="w-portfolio-item-title">Business Solutions</h2>
											</div>
											<div class="w-portfolio-item-hover"><i class="fa fa-plus"></i></div>
										</a>

										<div class="w-portfolio-item-details" style="display: none;">
											<div class="w-portfolio-item-details-h">
												<div class="w-portfolio-item-details-content">
													<div class="w-portfolio-item-details-content-preview">
														<img src="img/placeholder/500x500.gif" alt="">
													</div>
													<div class="w-portfolio-item-details-content-text">
														<h3>Business Solutions</h3>
														<p>Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Nunc volutpat odio sit amet, consectetur adipiscing elit.</p>
														<a class="g-btn type_primary" href="javascript:void(0);"><span>Launch Project</span></a>
													</div>
												</div>

												<div class="w-portfolio-item-details-close"></div>
												<div class="w-portfolio-item-details-arrow to_prev"><i class="fa fa-angle-left"></i></div>
												<div class="w-portfolio-item-details-arrow to_next"><i class="fa fa-angle-right"></i></div>

											</div>
										</div>

									</div>
								</div>
								<div class="w-portfolio-item">
									<div class="w-portfolio-item-h">
										<a class="w-portfolio-item-anchor" href="javascript:void(0);">
											<div class="w-portfolio-item-image" style="background-image:url(img/placeholder/500x500.gif);"></div>
											<div class="w-portfolio-item-meta">
												<h2 class="w-portfolio-item-title">Landscape Design</h2>
											</div>
											<div class="w-portfolio-item-hover"><i class="fa fa-plus"></i></div>
										</a>

										<div class="w-portfolio-item-details" style="display: none;">
											<div class="w-portfolio-item-details-h">
												<div class="w-portfolio-item-details-content">
													<div class="w-portfolio-item-details-content-preview">
														<img src="img/placeholder/500x500.gif" alt="">
													</div>
													<div class="w-portfolio-item-details-content-text">
														<h3>Landscape Design Project</h3>
														<p>Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci.</p>
														<h5>More Info</h5>
														<p>Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Nunc volutpat odio sit amet, consectetur adipiscing elit.</p>
														<a class="g-btn type_default size_small" href="javascript:void(0);"><span>Anything you want</span></a>
													</div>
												</div>

												<div class="w-portfolio-item-details-close"></div>
												<div class="w-portfolio-item-details-arrow to_prev"><i class="fa fa-angle-left"></i></div>
												<div class="w-portfolio-item-details-arrow to_next"><i class="fa fa-angle-right"></i></div>

											</div>
										</div>

									</div>
								</div>
								<div class="w-portfolio-item">
									<div class="w-portfolio-item-h">
										<a class="w-portfolio-item-anchor" href="javascript:void(0);">
											<div class="w-portfolio-item-image" style="background-image:url(img/placeholder/500x500.gif);"></div>
											<div class="w-portfolio-item-meta">
												<h2 class="w-portfolio-item-title">Business Solutions</h2>
											</div>
											<div class="w-portfolio-item-hover"><i class="fa fa-plus"></i></div>
										</a>

										<div class="w-portfolio-item-details" style="display: none;">
											<div class="w-portfolio-item-details-h">
												<div class="w-portfolio-item-details-content">
													<div class="w-portfolio-item-details-content-preview">
														<img src="img/placeholder/500x500.gif" alt="">
													</div>
													<div class="w-portfolio-item-details-content-text">
														<h3>Business Solutions</h3>
														<p>Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Nunc volutpat odio sit amet, consectetur adipiscing elit.</p>
														<h5>Project Details</h5>
														<ul>
															<li><strong>Client:</strong> Themeforest</li>
															<li><strong>Date:</strong> 26th April, 2013</li>
															<li><strong>Skills:</strong> Photography, Design, Photoshop</li>
														</ul>
														<h5>More Info</h5>
														<p>Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Nunc volutpat odio sit amet, consectetur adipiscing elit.</p>
														<p>Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci.</p>
														<a class="g-btn type_default" href="javascript:void(0);"><span><i class="fa fa-arrow-right"></i>Launch Project</span></a>
													</div>
												</div>

												<div class="w-portfolio-item-details-close"></div>
												<div class="w-portfolio-item-details-arrow to_prev"><i class="fa fa-angle-left"></i></div>
												<div class="w-portfolio-item-details-arrow to_next"><i class="fa fa-angle-right"></i></div>

											</div>
										</div>

									</div>
								</div>
								<div class="w-portfolio-item">
									<div class="w-portfolio-item-h">
										<a class="w-portfolio-item-anchor" href="javascript:void(0);">
											<div class="w-portfolio-item-image" style="background-image:url(img/placeholder/500x500.gif);"></div>
											<div class="w-portfolio-item-meta">
												<h2 class="w-portfolio-item-title">Photoshop Templates</h2>
											</div>
											<div class="w-portfolio-item-hover"><i class="fa fa-plus"></i></div>
										</a>

										<div class="w-portfolio-item-details" style="display: none;">
											<div class="w-portfolio-item-details-h">
												<div class="w-portfolio-item-details-content">
													<div class="w-portfolio-item-details-content-preview">
														<img src="img/placeholder/500x500.gif" alt="">
													</div>
													<div class="w-portfolio-item-details-content-text">
														<h3>Photoshop Templates</h3>
														<p>Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Nunc volutpat odio sit amet, consectetur adipiscing elit.</p>
														<a class="g-btn type_primary" href="javascript:void(0);"><span>Launch Project</span></a>
													</div>
												</div>

												<div class="w-portfolio-item-details-close"></div>
												<div class="w-portfolio-item-details-arrow to_prev"><i class="fa fa-angle-left"></i></div>
												<div class="w-portfolio-item-details-arrow to_next"><i class="fa fa-angle-right"></i></div>

											</div>
										</div>

									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
		
</section>

<!-- page: SERVICES -->
<section id="services" class="l-section">
	
	<div class="l-subsection color_dark" style="background-image:url(img/placeholder/parallax.png);">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">
			
				<h2>Wonderful <strong>digital things</strong> require<br>a good mix of combined skills</h2>
				
			</div>
		</div>
	</div>
	
	<div class="l-subsection">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">
			
				<h2 class="highlight"><strong>Our Services</strong></h2>
				
				<div class="g-hr type_short">
					<span class="g-hr-h">
						<i class="fa fa-star"></i>
					</span>
				</div>
				
				<div class="g-hr type_invisible"></div>
				
				<div class="g-cols">
					<div class="one-third">
						<div class="w-iconbox iconpos_left with_circle">
							<div class="w-iconbox-h">
								<a class="w-iconbox-link" href="javascript:void(0)">
									<div class="w-iconbox-icon">
										<i class="fa fa-puzzle-piece"></i>
									</div>
									<h4 class="w-iconbox-title">Strategy</h4>
								</a>
								<div class="w-iconbox-text">
									<p>Creating a design it is not an end in itself, but a means. We understand the rules of the games. It’s about to make you happy.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="one-third">
						<div class="w-iconbox iconpos_left with_circle">
							<div class="w-iconbox-h">
								<a class="w-iconbox-link" href="javascript:void(0)">
									<div class="w-iconbox-icon">
										<i class="fa fa-briefcase"></i>
									</div>
									<h4 class="w-iconbox-title">Design and UX</h4>
								</a>
								<div class="w-iconbox-text">
									<p>Working with us you will work with professional certified designers and engineers having the vast good experience.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="one-third">
						<div class="w-iconbox iconpos_left with_circle">
							<div class="w-iconbox-h">
								<a class="w-iconbox-link" href="javascript:void(0)">
									<div class="w-iconbox-icon">
										<i class="fa fa-gears"></i>
									</div>
									<h4 class="w-iconbox-title">Technology</h4>
								</a>
								<div class="w-iconbox-text">
									<p>Creating a design it is not an end in itself, but a means. We understand the rules of the games. It’s about to make you happy.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="g-hr type_invisible"></div>

				<div class="g-cols">
					<div class="one-third">
						<div class="w-iconbox iconpos_left with_circle">
							<div class="w-iconbox-h">
								<a class="w-iconbox-link" href="javascript:void(0)">
									<div class="w-iconbox-icon">
										<i class="fa fa-group"></i>
									</div>
									<h4 class="w-iconbox-title">Social</h4>
								</a>
								<div class="w-iconbox-text">
									<p>Creating a design it is not an end in itself, but a means. We understand the rules of the games. It’s about to make you happy.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="one-third">
						<div class="w-iconbox iconpos_left with_circle">
							<div class="w-iconbox-h">
								<a class="w-iconbox-link" href="javascript:void(0)">
									<div class="w-iconbox-icon">
										<i class="fa fa-file-text"></i>
									</div>
									<h4 class="w-iconbox-title">Content</h4>
								</a>
								<div class="w-iconbox-text">
									<p>Working with us you will work with professional certified designers and engineers having the vast good experience.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="one-third">
						<div class="w-iconbox iconpos_left with_circle">
							<div class="w-iconbox-h">
								<a class="w-iconbox-link" href="javascript:void(0)">
									<div class="w-iconbox-icon">
										<i class="fa fa-rocket"></i>
									</div>
									<h4 class="w-iconbox-title">Innovation</h4>
								</a>
								<div class="w-iconbox-text">
									<p>Creating a design it is not an end in itself, but a means. We understand the rules of the games. It’s about to make you happy.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
					
				<div class="g-hr type_invisible"></div>

				<div class="g-cols">
					<div class="one-third">
						<div class="w-iconbox iconpos_left with_circle">
							<div class="w-iconbox-h">
								<a class="w-iconbox-link" href="javascript:void(0)">
									<div class="w-iconbox-icon">
										<i class="fa fa-film"></i>
									</div>
									<h4 class="w-iconbox-title">Motion</h4>
								</a>
								<div class="w-iconbox-text">
									<p>Creating a design it is not an end in itself, but a means. We understand the rules of the games. It’s about to make you happy.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="one-third">
						<div class="w-iconbox iconpos_left with_circle">
							<div class="w-iconbox-h">
								<a class="w-iconbox-link" href="javascript:void(0)">
									<div class="w-iconbox-icon">
										<i class="fa fa-road"></i>
									</div>
									<h4 class="w-iconbox-title">Marketing</h4>
								</a>
								<div class="w-iconbox-text">
									<p>Working with us you will work with professional certified designers and engineers having the vast good experience.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="one-third">
						<div class="w-iconbox iconpos_left with_circle">
							<div class="w-iconbox-h">
								<a class="w-iconbox-link" href="javascript:void(0)">
									<div class="w-iconbox-icon">
										<i class="fa fa-bar-chart-o"></i>
									</div>
									<h4 class="w-iconbox-title">Analytics</h4>
								</a>
								<div class="w-iconbox-text">
									<p>Creating a design it is not an end in itself, but a means. We understand the rules of the games. It’s about to make you happy.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	<div class="l-subsection color_alternate">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">
			
				<h4><strong>Are you ready to start a conversation?</strong></h4>
				
				<a class="g-btn type_primary" href="#contact"><span>Get in touch</span></a>
				
			</div>
		</div>
	</div>
	
	<div id="parallax_subsection_2" class="l-subsection color_dark with_parallax" style="background-image:url(img/placeholder/parallax.png);">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">
			
				<h3>The people who have <strong>trusted</strong> us so far</h3>
				
				<div class="w-clients type_carousel columns_5">
					<div class="w-clients-h">
						<div class="w-clients-list">
							<div class="w-clients-list-h">
								<a class="w-clients-item" href="javascript:void(0);">
									<img src="img/clogo6.png" alt="Client logo" />
								</a>
								<a class="w-clients-item" href="javascript:void(0);">
									<img src="img/clogo2.png" alt="Client logo" />
								</a>
								<a class="w-clients-item" href="javascript:void(0);">
									<img src="img/clogo3.png" alt="Client logo" />
								</a>
								<a class="w-clients-item" href="javascript:void(0);">
									<img src="img/clogo4.png" alt="Client logo" />
								</a>
								<a class="w-clients-item" href="javascript:void(0);">
									<img src="img/clogo5.png" alt="Client logo" />
								</a>
								<a class="w-clients-item" href="javascript:void(0);">
									<img src="img/clogo2.png" alt="Client logo" />
								</a>
								<a class="w-clients-item" href="javascript:void(0);">
									<img src="img/clogo1.png" alt="Client logo" />
								</a>
								<a class="w-clients-item" href="javascript:void(0);">
									<img src="img/clogo3.png" alt="Client logo" />
								</a>
							</div>
						</div>
						<a class="w-clients-nav to_prev disabled" href="javascript:void(0)" title="Show previous"></a>
						<a class="w-clients-nav to_next" href="javascript:void(0)" title="Show next"></a>
					</div>
				</div>
				
			</div>
		</div>
	</div>

</section>

<!-- page: BLOG -->
<section id="blog" class="l-section">
	
	<div class="l-subsection">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">

				<h2>Our Latest Posts</h2>
				
				<div class="g-hr type_invisible"></div>
				
				<div class="w-blog imgpos_atleft more_hidden">
					<div class="w-blog-h">
						<div class="w-blog-list">
						
							<div class="w-blog-entry">
								<div class="w-blog-entry-h">
									<a class="w-blog-entry-link" href="blog-post.html">
										<div class="w-blog-entry-preview">
											<img src="img/placeholder/500x500.gif" alt="">
										</div>

										<h2 class="w-blog-entry-title">
											<span class="w-blog-entry-title-h">This is a Post</span>
										</h2>
									</a>
									<div class="w-blog-entry-body">
										<div class="w-blog-entry-meta">
											<div class="w-blog-entry-meta-date">
												<span class="w-blog-entry-meta-date-month">Mar</span>
												<span class="w-blog-entry-meta-date-day">23</span>
												<span class="w-blog-entry-meta-date-year">2013</span>
											</div>
										</div>

										<div class="w-blog-entry-short">
											<p>Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla suctus. Working with us you will work with professional certified designers and engineers having the vast good experience.</p>
										</div>

									</div>
								</div>
							</div>

							<div class="w-blog-entry">
								<div class="w-blog-entry-h">
									<a class="w-blog-entry-link" href="blog-post.html">
										<div class="w-blog-entry-preview">
											<img src="img/placeholder/500x500.gif" alt="">
										</div>

										<h2 class="w-blog-entry-title">
											<span class="w-blog-entry-title-h">Another Single Interesting Post</span>
										</h2>
									</a>
									<div class="w-blog-entry-body">
										<div class="w-blog-entry-meta">
											<div class="w-blog-entry-meta-date">
												<span class="w-blog-entry-meta-date-month">Apr</span>
												<span class="w-blog-entry-meta-date-day">16</span>
												<span class="w-blog-entry-meta-date-year">2013</span>
											</div>
										</div>

										<div class="w-blog-entry-short">
											<p>Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla suctus. Working with us you will work with professional certified designers and engineers having the vast good experience.</p>
										</div>

									</div>
								</div>
							</div>

							<div class="w-blog-entry">
								<div class="w-blog-entry-h">
									<a class="w-blog-entry-link" href="blog-post.html">
										<div class="w-blog-entry-preview">
											<img src="img/placeholder/500x500.gif" alt="">
										</div>

										<h2 class="w-blog-entry-title">
											<span class="w-blog-entry-title-h">This is a Single Clean Post</span>
										</h2>
									</a>
									<div class="w-blog-entry-body">
										<div class="w-blog-entry-meta">
											<div class="w-blog-entry-meta-date">
												<span class="w-blog-entry-meta-date-month">Jul</span>
												<span class="w-blog-entry-meta-date-day">8</span>
												<span class="w-blog-entry-meta-date-year">2013</span>
											</div>
										</div>

										<div class="w-blog-entry-short">
											<p>Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla suctus. Working with us you will work with professional certified designers and engineers having the vast good experience.</p>
										</div>

									</div>
								</div>
							</div>

							<div class="w-blog-entry">
								<div class="w-blog-entry-h">
									<a class="w-blog-entry-link" href="blog-post.html">
										<div class="w-blog-entry-preview animate_afc">
											<img src="img/placeholder/500x500.gif" alt="">
										</div>

										<h2 class="w-blog-entry-title">
											<span class="w-blog-entry-title-h">This Post Looks Beautiful even with Long Interesting Title</span>
										</h2>
									</a>
									<div class="w-blog-entry-body">
										<div class="w-blog-entry-meta">
											<div class="w-blog-entry-meta-date">
												<span class="w-blog-entry-meta-date-month">Aug</span>
												<span class="w-blog-entry-meta-date-day">23</span>
												<span class="w-blog-entry-meta-date-year">2013</span>
											</div>
										</div>

										<div class="w-blog-entry-short">
											<p>Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla suctus. Working with us you will work with professional certified designers and engineers having the vast good experience.</p>
										</div>

									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				
				<div class="g-hr type_invisible"></div>
				
				<a class="g-btn type_default size_small" href="blog.html"><span><i class="fa fa-chevron-right"></i>View all Posts</span></a>

			</div>
		</div>
	</div>
		
</section>

<!-- page: CONTACT -->
<section id="contact" class="l-section">
	
	<div class="l-subsection color_dark" style="background-image:url(img/placeholder/parallax.png);">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">
			
				<h2><strong>Contact Us</strong></h2>
				
				<div class="w-contacts">
					<div class="w-contacts-h">
						<div class="w-contacts-list">
							<div class="w-contacts-item">
								<i class="fa fa-map-marker"></i>
								<span class="w-contacts-item-value">1600 Amphitheatre Parkway, Mountain View, CA 94043, United States</span>
							</div>
							<br>
							<div class="w-contacts-item">
								<i class="fa fa-phone"></i>
								<span class="w-contacts-item-value">+321 123 456 7</span>
							</div>
							<div class="w-contacts-item">
								<i class="fa fa-envelope-o"></i>
								<span class="w-contacts-item-value"><a href="mailto:info@example.com">info@example.com</a></span>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	
	<div class="l-subsection full_width full_height">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">
			
				<div class="w-map">
					<div class="w-map-h" style="height: 360px;">
					</div>
				</div>
			
			</div>
		</div>
	</div>

	<div class="l-subsection">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">
			
				<h4 class="highlight"><strong>Send a Message</strong></h4>
				
				<p class="size_big">We bring a personal and effective approach to every project we work on.</p>

				<div class="w-form contacts_form">
					<div class="w-form-h contacts_form_form">
						<form class="g-form" action="#" method="post" id="contact_form">
							<div class="g-form-row" id="name_row">
								<div class="g-form-row-label">
									<label class="g-form-row-label-h" for="name">Your Name</label>
								</div>
								<div class="g-form-row-field">
									<i class="fa fa-user"></i>
									<input type="text" name="name" id="name">
								</div>
								<div class="g-form-row-state" id="name_state"></div>
							</div>
							<div class="g-form-row" id="email_row">
								<div class="g-form-row-label">
									<label class="g-form-row-label-h" for="email">Email</label>
								</div>
								<div class="g-form-row-field">
									<i class="fa fa-envelope"></i>
									<input type="email" name="email" id="email">
								</div>
								<div class="g-form-row-state" id="email_state"></div>
							</div>
							<div class="g-form-row" id="phone_row">
								<div class="g-form-row-label">
									<label class="g-form-row-label-h" for="phone">Phone Number</label>
								</div>
								<div class="g-form-row-field">
									<i class="fa fa-phone"></i>
									<input type="text" name="phone" id="phone">
								</div>
								<div class="g-form-row-state" id="phone_state"></div>
							</div>
							<div class="g-form-row" id="message_row">
								<div class="g-form-row-label">
									<label class="g-form-row-label-h" for="message">Message</label>
								</div>
								<div class="g-form-row-field">
									<i class="fa fa-pencil"></i>
									<textarea name="message" id="message" cols="30" rows="10"></textarea>
								</div>
								<div class="g-form-row-state" id="message_state"></div>
							</div>
							<div class="g-form-row">
								<div class="g-form-row-label"></div>
								<div class="g-form-row-field">
									<button class="g-btn type_primary" id="message_send"><span><i class="fa fa-envelope-o"></i>Send Message</span></button>
								</div>
							</div>
						</form>
					</div>
				</div>
				
			</div>
		</div>
	</div>
		
</section>
<script type="text/javascript">
	window.resizeHandler();
	window.scrollTo(0,0);
</script>