<!-- page: CONTACT -->
<section id="contact" class="l-section">
	
	<div class="l-subsection color_dark" style="background-image:url(img/placeholder/parallax.png);">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">
			
				<h2><strong>Contact Us</strong></h2>
				
				<div class="w-contacts">
					<div class="w-contacts-h">
						<div class="w-contacts-list">
							<div class="w-contacts-item">
								<i class="fa fa-map-marker"></i>
								<span class="w-contacts-item-value">1600 Amphitheatre Parkway, Mountain View, CA 94043, United States</span>
							</div>
							<br>
							<div class="w-contacts-item">
								<i class="fa fa-phone"></i>
								<span class="w-contacts-item-value">+321 123 456 7</span>
							</div>
							<div class="w-contacts-item">
								<i class="fa fa-envelope-o"></i>
								<span class="w-contacts-item-value"><a href="mailto:info@example.com">info@example.com</a></span>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	
	<div class="l-subsection full_width full_height">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">
			
				<div class="w-map">
					<div class="w-map-h" style="height: 360px;">
					</div>
				</div>
			
			</div>
		</div>
	</div>

	<div class="l-subsection">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">
			
				<h4 class="highlight"><strong>Send a Message</strong></h4>
				
				<p class="size_big">We bring a personal and effective approach to every project we work on.</p>

				<div class="w-form contacts_form">
					<div class="w-form-h contacts_form_form">
						<form class="g-form" action="#" method="post" id="contact_form">
							<div class="g-form-row" id="name_row">
								<div class="g-form-row-label">
									<label class="g-form-row-label-h" for="name">Your Name</label>
								</div>
								<div class="g-form-row-field">
									<i class="fa fa-user"></i>
									<input type="text" name="name" id="name">
								</div>
								<div class="g-form-row-state" id="name_state"></div>
							</div>
							<div class="g-form-row" id="email_row">
								<div class="g-form-row-label">
									<label class="g-form-row-label-h" for="email">Email</label>
								</div>
								<div class="g-form-row-field">
									<i class="fa fa-envelope"></i>
									<input type="email" name="email" id="email">
								</div>
								<div class="g-form-row-state" id="email_state"></div>
							</div>
							<div class="g-form-row" id="phone_row">
								<div class="g-form-row-label">
									<label class="g-form-row-label-h" for="phone">Phone Number</label>
								</div>
								<div class="g-form-row-field">
									<i class="fa fa-phone"></i>
									<input type="text" name="phone" id="phone">
								</div>
								<div class="g-form-row-state" id="phone_state"></div>
							</div>
							<div class="g-form-row" id="message_row">
								<div class="g-form-row-label">
									<label class="g-form-row-label-h" for="message">Message</label>
								</div>
								<div class="g-form-row-field">
									<i class="fa fa-pencil"></i>
									<textarea name="message" id="message" cols="30" rows="10"></textarea>
								</div>
								<div class="g-form-row-state" id="message_state"></div>
							</div>
							<div class="g-form-row">
								<div class="g-form-row-label"></div>
								<div class="g-form-row-field">
									<button class="g-btn type_primary" id="message_send"><span><i class="fa fa-envelope-o"></i>Send Message</span></button>
								</div>
							</div>
						</form>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>

<!-- page: ABOUT -->
<section id="about" class="l-section">
	

	<div class="l-subsection color_alternate">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">

				<p class="subtitle">What we do?</p>
				<h3 class="highlight"><strong>Powerful websites that look beautiful</strong></h3>
				
				<div class="g-hr type_invisible"></div>
				
				<div class="g-cols">
					<div class="one-third">
					
						<div class="w-iconbox iconpos_top with_circle">
							<div class="w-iconbox-h">
								<div class="w-iconbox-link">
									<div class="w-iconbox-icon">
										<i class="fa fa-rocket"></i>
									</div>
									<h4 class="w-iconbox-title">From Zero to One</h4>
								</div>
								<div class="w-iconbox-text">
									<p>We are moving from zero to one, not from one to hundred. That means we are focused on creating new solutions, not copying the existing ones.</p>
								</div>
							</div>
						</div>
						
					</div>
					<div class="one-third">
					
						<div class="w-iconbox iconpos_top with_circle">
							<div class="w-iconbox-h">
								<div class="w-iconbox-link">
									<div class="w-iconbox-icon">
										<i class="fa fa-thumbs-up"></i>
									</div>
									<h4 class="w-iconbox-title">Our Level Up</h4>
								</div>
								<div class="w-iconbox-text">
									<p>Working with us you will work with professional certified designers and engineers having the vast good experience.</p>
								</div>
							</div>
						</div>
						
					</div>
					<div class="one-third">
					
						<div class="w-iconbox iconpos_top with_circle">
							<div class="w-iconbox-h">
								<div class="w-iconbox-link">
									<div class="w-iconbox-icon">
										<i class="fa fa-heart"></i>
									</div>
									<h4 class="w-iconbox-title">Your satisfaction</h4>
								</div>
								<div class="w-iconbox-text">
									<p>Creating a design it is not an end in itself, but a means. We understand the rules of the games. It’s about to make you happy.</p>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
				<div class="g-hr type_invisible"></div>
				
				<a class="g-btn type_default" href="#portfolio"><span><i class="fa fa-arrow-down"></i>View Works</span></a>
				
			</div>
		</div>
	</div>
</section>

<!-- page: SERVICES -->
<section id="services" class="l-section">
	
	
	<div id="parallax_subsection_2" class="l-subsection color_dark with_parallax" style="background-image:url(img/placeholder/parallax.png);">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">
			
				<h3>The people who have <strong>trusted</strong> us so far</h3>
				
				<div class="w-clients type_carousel columns_5">
					<div class="w-clients-h">
						<div class="w-clients-list">
							<div class="w-clients-list-h">
								<a class="w-clients-item" href="javascript:void(0);">
									<img src="img/clogo6.png" alt="Client logo" />
								</a>
								<a class="w-clients-item" href="javascript:void(0);">
									<img src="img/clogo2.png" alt="Client logo" />
								</a>
								<a class="w-clients-item" href="javascript:void(0);">
									<img src="img/clogo3.png" alt="Client logo" />
								</a>
								<a class="w-clients-item" href="javascript:void(0);">
									<img src="img/clogo4.png" alt="Client logo" />
								</a>
								<a class="w-clients-item" href="javascript:void(0);">
									<img src="img/clogo5.png" alt="Client logo" />
								</a>
								<a class="w-clients-item" href="javascript:void(0);">
									<img src="img/clogo2.png" alt="Client logo" />
								</a>
								<a class="w-clients-item" href="javascript:void(0);">
									<img src="img/clogo1.png" alt="Client logo" />
								</a>
								<a class="w-clients-item" href="javascript:void(0);">
									<img src="img/clogo3.png" alt="Client logo" />
								</a>
							</div>
						</div>
						<a class="w-clients-nav to_prev disabled" href="javascript:void(0)" title="Show previous"></a>
						<a class="w-clients-nav to_next" href="javascript:void(0)" title="Show next"></a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>

<!-- GMap-->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="js/vendor/jquery.gmap.min.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function(){
		var latlng = new google.maps.LatLng(43.110995,1.935181);
		jQuery('.w-map-h').gMap({
			controls: {
				panControl: false,
				zoomControl: true,
				mapTypeControl: true,
				scaleControl: false,
				streetViewControl: false,
				overviewMapControl: false
			},
			'center': latlng,
			zoom: 8,
			markers:[
				{
					address: "Salle des fêtes de Malegoude",
					html: "Our room here",
					popup: true
				}
			]
		});
	});
</script>