<section id="home" class="l-section">
	
	<div id="parallax_subsection_0" class="l-subsection color_dark with_parallax" style="background-image:url(http://www.toulouseconcert.com/images/bg4.jpg);">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">

				<h1 class="home-heading">
					<span class="home-heading-line bold">Style de musique</span>
					<span class="home-heading-line">Voici de quoi poursuivre</span>
				</h1>
				
				<a class="g-btn type_primary size_big" href="#about" target="_self"><span>Continuez notre navigation</span></a>

			</div>
		</div>
	</div>
</section>

<section id="about" class="l-section">
	
	
	<div id="parallax_subsection_1" class="l-subsection color_dark with_parallax" style="background-image:url(img/placeholder/parallax.png);">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">
			
				<h2>La prochaine édition du<strong> FDLM</strong> sera dans <br>
				<strong>16 jours</strong> 17 heures 30 secondes</h2>
				
				<div>
				<a class="g-btn type_default" href="#programmation-vendredi"><span> Programme du Vendredi 15 Juin</span></a>
				<a class="g-btn type_default" href="#programmation-samedi"><span>Programme du Samedi 16 Juin</span></a>
				</div>
			</div>
		</div>
	</div>

</section>

<section id="blog" class="l-section">
	
	<div class="l-subsection">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">

				<h2>Our Latest Posts</h2>
				
				<div class="g-hr type_invisible"></div>
				
				<div class="w-blog imgpos_atleft more_hidden">
					<div class="w-blog-h">
						<div class="w-blog-list">
						
							<div class="w-blog-entry">
								<div class="w-blog-entry-h">
									<a class="w-blog-entry-link" href="blog-post.html">
										<div class="w-blog-entry-preview">
											<img src="img/placeholder/500x500.gif" alt="">
										</div>

										<h2 class="w-blog-entry-title">
											<span class="w-blog-entry-title-h">This is a Post</span>
										</h2>
									</a>
									<div class="w-blog-entry-body">
										<div class="w-blog-entry-meta">
											<div class="w-blog-entry-meta-date">
												<span class="w-blog-entry-meta-date-month">Mar</span>
												<span class="w-blog-entry-meta-date-day">23</span>
												<span class="w-blog-entry-meta-date-year">2013</span>
											</div>
										</div>

										<div class="w-blog-entry-short">
											<p>Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla suctus. Working with us you will work with professional certified designers and engineers having the vast good experience.</p>
										</div>

									</div>
								</div>
							</div>

							<div class="w-blog-entry">
								<div class="w-blog-entry-h">
									<a class="w-blog-entry-link" href="blog-post.html">
										<div class="w-blog-entry-preview">
											<img src="img/placeholder/500x500.gif" alt="">
										</div>

										<h2 class="w-blog-entry-title">
											<span class="w-blog-entry-title-h">Another Single Interesting Post</span>
										</h2>
									</a>
									<div class="w-blog-entry-body">
										<div class="w-blog-entry-meta">
											<div class="w-blog-entry-meta-date">
												<span class="w-blog-entry-meta-date-month">Apr</span>
												<span class="w-blog-entry-meta-date-day">16</span>
												<span class="w-blog-entry-meta-date-year">2013</span>
											</div>
										</div>

										<div class="w-blog-entry-short">
											<p>Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla suctus. Working with us you will work with professional certified designers and engineers having the vast good experience.</p>
										</div>

									</div>
								</div>
							</div>

							<div class="w-blog-entry">
								<div class="w-blog-entry-h">
									<a class="w-blog-entry-link" href="blog-post.html">
										<div class="w-blog-entry-preview">
											<img src="img/placeholder/500x500.gif" alt="">
										</div>

										<h2 class="w-blog-entry-title">
											<span class="w-blog-entry-title-h">This is a Single Clean Post</span>
										</h2>
									</a>
									<div class="w-blog-entry-body">
										<div class="w-blog-entry-meta">
											<div class="w-blog-entry-meta-date">
												<span class="w-blog-entry-meta-date-month">Jul</span>
												<span class="w-blog-entry-meta-date-day">8</span>
												<span class="w-blog-entry-meta-date-year">2013</span>
											</div>
										</div>

										<div class="w-blog-entry-short">
											<p>Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla suctus. Working with us you will work with professional certified designers and engineers having the vast good experience.</p>
										</div>

									</div>
								</div>
							</div>

							<div class="w-blog-entry">
								<div class="w-blog-entry-h">
									<a class="w-blog-entry-link" href="blog-post.html">
										<div class="w-blog-entry-preview animate_afc">
											<img src="img/placeholder/500x500.gif" alt="">
										</div>

										<h2 class="w-blog-entry-title">
											<span class="w-blog-entry-title-h">This Post Looks Beautiful even with Long Interesting Title</span>
										</h2>
									</a>
									<div class="w-blog-entry-body">
										<div class="w-blog-entry-meta">
											<div class="w-blog-entry-meta-date">
												<span class="w-blog-entry-meta-date-month">Aug</span>
												<span class="w-blog-entry-meta-date-day">23</span>
												<span class="w-blog-entry-meta-date-year">2013</span>
											</div>
										</div>

										<div class="w-blog-entry-short">
											<p>Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla suctus. Working with us you will work with professional certified designers and engineers having the vast good experience.</p>
										</div>

									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				
				<div class="g-hr type_invisible"></div>
				
				<a class="g-btn type_default size_small" href="blog.html"><span><i class="fa fa-chevron-right"></i>View all Posts</span></a>

			</div>
		</div>
	</div>
</section>

<section id="team" class="l-section">
	
	<div class="l-subsection">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">
			
				<p class="subtitle">Nos artistes</p>
				<h2 class="highlight"><strong>Un avant goût du festival</strong></h2>
				
				<p class="size_big">Nous proposons des styles de musiques éclectiques depuis 2012, voici notre sélection pour 2014 :</p>
				
				<div class="g-hr type_invisible"></div>
				
				<div class="w-team">
					<div class="w-team-h">
						<div class="w-team-list">
						
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/fdlm/hassah-500x500.jpg" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<h4 class="w-team-member-name"><a href="#artiste/hassah" target="_blank"><i class="fa fa-chevron-right"></i> Voir Hassah</a></h4>
										<div class="w-team-member-role">Fusion de Rumba, Rock, Blues, Salsa, Ragga, Disco et Hip Hop sur des textes en Espagnol</div>
										<div class="w-team-member-role">
											Présent le vendredi 4h00-6h00 
										</div>
									</div>
								</div>
							</div>
						
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/fdlm/DaKrewLab-500x500.jpg" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<h4 class="w-team-member-name"><a href="#artiste/hassah" target="_blank"><i class="fa fa-chevron-right"></i> Voir Da Krew Lab</a></h4>
										<div class="w-team-member-role">Electro, Break, Drum'n'Bass, Breakcore, Hip Hop, Tek</div>
										<div class="w-team-member-role">
											Présent le vendredi 4h00-6h00 
										</div>
									</div>
								</div>
							</div>
					
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/fdlm/LesBoozeBrothers-500x500.jpg" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<h4 class="w-team-member-name"><a href="#artiste/hassah" target="_blank"><i class="fa fa-chevron-right"></i> Voir les Booze Brothers</a></h4>
										<div class="w-team-member-role">Un grand métissage des influences, des genres (rock, hardcore, electro, folk, world, punk) et des langues.</div>
										<div class="w-team-member-role">
											Présent le vendredi 4h00-6h00 
										</div>
									</div>
								</div>
							</div>
					
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/fdlm/asap-500x500.jpg" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<h4 class="w-team-member-name"><a href="#artiste/hassah" target="_blank"><i class="fa fa-chevron-right"></i> Voir ASAP</a></h4>
										<div class="w-team-member-role">Pop rock Française</div>
										<div class="w-team-member-role">
											Présent le vendredi 4h00-6h00 
										</div>
									</div>
								</div>
							</div>

					
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
	window.resizeHandler();
</script>