

<!-- page: ABOUT -->
<section id="about" class="l-section">
	<div class="l-subsection" style="background-image: url(img/fdlm/img-4.jpg);">
		<div class="l-subsection-h programmation-splashscreen">
			<div class="l-subsection-hh g-html i-cf programmation-buttons">
				
				<a class="g-btn type_primary" href="/#!/programmation-ariege-n-zic-vendredi-13-juin-2014"><span><i class="fa fa-reply"></i> Vendredi 13 Juin</span></a>
				<a class="g-btn type_primary green" scroll-to="#samedi" duration="1000" offset="80"><span>Samedi 14 Juin <i class="fa fa-arrow-down"></i></span></a>
				
			</div>
		</div>
	</div>
</section>

<!-- page: OUR TEAM -->
<section class="l-section">
	<div class="l-subsection">
		<div class="l-subsection-h">
			<div id="samedi" class="l-subsection-hh g-html i-cf">
				<p class="subtitle">Programmation</p>
				<h2 class="highlight"><strong>Samedi 14 juin 2014</strong></h2>
				<div class="g-hr type_invisible"></div>
				<div ng-include="'partials/affiches.html'"></div>
				<div ng-include="'partials/timeline.html'"></div>				
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
	window.resizeHandler();
	window.scrollTo(0,0);
</script>