<div class="w-gallery size_l affiches">
	<div class="w-gallery-h">
		<div class="w-gallery-tnails">
			<div class="w-gallery-tnails-h">
				<a class="w-gallery-tnail" href="img/affiche_302x402.png" title="Recto de l'affiche Ariege'n Zik">
					<span class="w-gallery-tnail-h">
						<img ng-cloak class="w-gallery-tnail-img" ng-src="img/affiche_302x402_min.jpg" alt="Verso de l'affiche Ariege'n Zik">
						<span class="w-gallery-tnail-hover"><i class="fa fa-search"></i></span>
					</span>
				</a>
			
				<a class="w-gallery-tnail" href="img/ariegenzik_fly_verso.png" title="Verso du flyer Ariege'n Zik">
					<span class="w-gallery-tnail-h">
						<img ng-cloak class="w-gallery-tnail-img" ng-src="img/ariegenzik_fly_verso_min.jpg" alt="Verso du flyer Ariege'n Zik">
						<span class="w-gallery-tnail-hover"><i class="fa fa-search"></i></span>
					</span>
				</a>
			</div>
		</div>
	</div>
</div>