<!-- page: CONTACT -->
<section ng-cloack>
	

	<div class="l-subsection" style="background-image:url(img/placeholder/parallax.png);">
		<div class="l-subsection-h" style="margin-top:50px;">
			<div class="l-subsection-hh g-html i-cf">
			
				<h2 class="highlight"><strong>Contactez-nous !</strong></h2>
				
				<div class="w-contacts">
					<div class="w-contacts-h">
						<div class="w-contacts-list">
							<div class="w-contacts-item">
								<i class="fa fa-envelope-o"></i>
								<span class="w-contacts-item-value"><a href="mailto:FDLMteam@gmail.com">FDLMteam@gmail.com</a></span>
							</div>
						</div>
					</div>
				</div>

                <img src="img/info.png" alt="Informations Festival Ariege'n Zic"/>

			</div>
		</div>
	</div>
	
	<div class="l-subsection full_height color_alternate " style="background-image:url(img/placeholder/parallax.png);">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">
			
				<div class="w-map">
					<div id="contact-map" style="height: 500px;">
						    <leaflet markers="markers" defaults="defaults" layers="layers" center="center"></leaflet>
					</div>
				</div>
			
			</div>
		</div>
	</div>
</section>

<!-- page: ABOUT -->

<section id="about" ng-cloack>
	

	<div class="l-subsection color_alternate">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">

				<a class="g-btn type_default" href="#association-faites-de-la-musique"><span><i class="fa fa-reply"></i>En savoir plus sur l'association</span></a>
				
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
	window.scrollTo(0,0);
</script>
