<section id="home" class="l-section">
	
	<div id="parallax_subsection_0" class="l-subsection color_dark with_parallax" style="background-image:url(img/fdlm/bg4.jpg);">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">

				<h1 class="home-heading">
					<span class="home-heading-line bold">Ariège'n Zic</span><br>
					<span class="home-heading-line">L’Ariège de toutes les musiques</span>
				</h1>
				
				<a class="g-btn type_primary size_big green" scroll-to="#about" duration="800" offset="50"><span>Continuez votre navigation <i class="fa fa-arrow-down"></i></span></a>

			</div>
		</div>
	</div>
</section>

<section id="about" class="l-section">
	
	
	<div id="parallax_subsection_1" class="l-subsection color_dark with_parallax" style="background-image:url(img/placeholder/parallax.png);">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">
			
				<h2>Le festival 2014 <strong>Ariège'N Zic</strong> débutera dans<br>
				<span id="countdown">
				</span>
				<div>
				<a class="g-btn type_primary" href="#programmation-ariege-n-zik-vendredi-13-juin-2014"><span> Programme du Vendredi 13 Juin</span></a>
				<a class="g-btn type_primary" href="#programmation-ariege-n-zik-samedi-14-juin-2014"><span>Programme du Samedi 14 Juin</span></a>
				</div>
			</div>
		</div>
	</div>

</section>

<section id="blog" class="l-section">
	
	<div class="l-subsection">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">

				<h2>Les news</h2>
				
				<div class="g-hr type_invisible"></div>
				
				<div class="w-blog imgpos_atleft more_hidden">
					<div class="w-blog-h">
						<div class="w-blog-list">
							<div class="w-blog-entry" ng-repeat="new in news  | isFreshNews:'2014-04-01'">
								<div class="w-blog-entry-h">
									<div class="w-blog-entry-body">
										<div class="w-blog-entry-meta">
											<div class="w-blog-entry-meta-date">
												<span class="w-blog-entry-meta-date-month" ng-bind="new.updated_at | date:'MMM'"></span>
												<span class="w-blog-entry-meta-date-day" ng-bind="new.updated_at | date:'d'">23</span>
												<span class="w-blog-entry-meta-date-year" ng-bind="new.updated_at | date:'yyyy'">2013</span>
											</div>
										</div>
										<div ng-repeat="news_partials in new.data" ng-init="focused=False;">
											<h2 class="w-blog-entry-title" ng-if="news_partials.type=='PartialTitle'">
												<span class="w-blog-entry-title-h" ng-bind="news_partials.title"></span>
											</h2>
											<div class="w-blog-entry-short" ng-if="news_partials.type=='PartialText'">
												<p ng-bind-html="news_partials.text"></p>
											</div>
											<div ng-if="news_partials.type=='PartialYoutube'">
												<div class="button_show" ng-click="focused=!focused">
														Voir vidéo
														<i ng-show="!focused" class="fa fa-plus-circle fa-4" style="color:#F8862C;"></i>
														<i ng-show="focused" class="fa fa-minus-circle fa-4" style="color:#F8862C;"></i>
												</div>
												<div class="flex-video widescreen" ng-if="focused">
													<iframe ng-src="{{getSrcYoutube(news_partials.youtube_slug)}}" frameborder="0" allowfullscreen=""></iframe>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				
				<div class="g-hr type_invisible"></div>
				
				<a class="g-btn type_default size_small" target="_blank" style="background-color:#3B5998;" href="https://www.facebook.com/ariege.n.zic"><span><i class="fa fa-facebook"></i>Nous rejoindre sur Facebook</span></a>

			</div>
		</div>
	</div>
</section>

<section id="team" class="l-section">
	
	<div class="l-subsection">
		<div class="l-subsection-h">
			<div class="l-subsection-hh g-html i-cf">
			
				<p class="subtitle">Nos artistes</p>
				<h2 class="highlight"><strong>Un avant goût du festival</strong></h2>
				
				<p class="size_big">Nous proposons des styles de musiques éclectiques depuis 2012, voici notre sélection pour 2014 :</p>
				
				<div class="g-hr type_invisible"></div>
				
				<div class="w-team">
					<div class="w-team-h">
						<div class="w-team-list">
						
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/fdlm/hassah-500x500.jpg" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<h4 class="w-team-member-name"><a href="#artiste/hassah" target="_blank"><i class="fa fa-chevron-right"></i> Voir Hassah</a></h4>
										<div class="w-team-member-role">Fusion de Rumba, Rock, Blues, Salsa, Ragga, Disco et Hip Hop sur des textes en Espagnol</div>
										<div class="w-team-member-role">
											Présent le vendredi 4h00-6h00 
										</div>
									</div>
								</div>
							</div>
						
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/fdlm/DaKrewLab-500x500.jpg" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<h4 class="w-team-member-name"><a href="#artiste/hassah" target="_blank"><i class="fa fa-chevron-right"></i> Voir Da Krew Lab</a></h4>
										<div class="w-team-member-role">Electro, Break, Drum'n'Bass, Breakcore, Hip Hop, Tek</div>
										<div class="w-team-member-role">
											Présent le vendredi 4h00-6h00 
										</div>
									</div>
								</div>
							</div>
					
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/fdlm/LesBoozeBrothers-500x500.jpg" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<h4 class="w-team-member-name"><a href="#artiste/hassah" target="_blank"><i class="fa fa-chevron-right"></i> Voir les Booze Brothers</a></h4>
										<div class="w-team-member-role">Un grand métissage des influences, des genres (rock, hardcore, electro, folk, world, punk) et des langues.</div>
										<div class="w-team-member-role">
											Présent le vendredi 4h00-6h00 
										</div>
									</div>
								</div>
							</div>
					
							<div class="w-team-member">
								<div class="w-team-member-h">
									<div class="w-team-member-image">
										<img src="img/fdlm/asap-500x500.jpg" alt="member photo" />
									</div>
									<div class="w-team-member-meta">
										<h4 class="w-team-member-name"><a href="#artiste/hassah" target="_blank"><i class="fa fa-chevron-right"></i> Voir ASAP</a></h4>
										<div class="w-team-member-role">Pop rock Française</div>
										<div class="w-team-member-role">
											Présent le vendredi 4h00-6h00 
										</div>
									</div>
								</div>
							</div>

					
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
	window.resizeHandler();
	window.scrollTo(0,0);

	//Countdown
	//@origin https://mindgrader.com/tutorials/1-how-to-create-a-simple-javascript-countdown-timer

	// set the date we're counting down to
	var target_date = new Date("Jun 15, 2014 19:00:00").getTime();
	 
	// variables for time units
	var days, hours, minutes, seconds;
	 
	// get tag element
	var countdown = document.getElementById("countdown");
	 
	// update the tag with id "countdown" every 1 second
	setInterval(function () {
	 
	    // find the amount of "seconds" between now and target
	    var current_date = new Date().getTime();
	    var seconds_left = (target_date - current_date) / 1000;
	 
	    // do some time calculations
	    days = parseInt(seconds_left / 86400);
	    seconds_left = seconds_left % 86400;
	     
	    hours = parseInt(seconds_left / 3600);
	    seconds_left = seconds_left % 3600;
	     
	    minutes = parseInt(seconds_left / 60);
	    seconds = parseInt(seconds_left % 60);
	     
	    // format countdown string + set tag value
	    var text = "";
	    if(days != 0){
	    	text += "<strong>" + days + " jours</strong>";
	    }
	    if(hours != 0){
	    	text += ", " + hours + " heures";
	    }
	    if(minutes != 0){
	    	text += ", " + minutes + " minutes";
	    }
	    if(seconds != 0){
	    	text += ", " + seconds + " secondes";
	    }
	    countdown.innerHTML = text;
	 
	}, 1000);
</script>
<style type="text/css">
	.w-blog.imgpos_atleft .w-blog-entry-body{
		margin-left: 10%;
	}
	.w-blog.imgpos_atleft .w-blog-entry-title{
		margin-left: -4%;
	}
	.w-blog-entry-title{
		color: #f8862c;
	}
	.flex-video{position:relative;padding-top:25px;padding-bottom:67.5%;height:0;margin-bottom:16px;margin:10px 0 16px 0;overflow:hidden}.flex-video.widescreen{padding-bottom:57.25%}
	.flex-video.vimeo{padding-top:0}
	.flex-video iframe,.flex-video object,.flex-video embed{position:absolute;top:0;left:0;width:100%;height:100%}
	@media only screen and (max-device-width:800px),only screen and (device-width:1024px) and (device-height:600px),only screen and (width:1280px) and (orientation:landscape),only screen and (device-width:800px),only screen and (max-width:767px){.flex-video{padding-top:0}}.datepicker{padding:4px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;direction:ltr;}

</style>