<!-- Banner Slider -->
<section id="banner">
	<div class="flexslider">
		<ul class="slides">
			<li>
				<div class="container">
					<h1>Awaaz the largest music theme</h1>
					<p>Awaaz is a powerful and responsive Music, Band &amp; DJ HTML Template with pretty much advanced features like display Artists, Albums, Photo Galleries, Video Galleries and Events. </p>
					<a href="#" class="action-button">Buy Template</a>
				</div>
			</li> <!-- end slide 1 -->
			<li>
				<div class="container">
					<h1>Tons of pages included</h1>
					<p>Awaaz is a powerful and responsive Music, Band &amp; DJ HTML Template with pretty much advanced features like display Artists, Albums, Photo Galleries, Video Galleries and Events. </p>
					<a href="#" class="action-button">View Pages</a>
				</div>
			</li> <!-- end slide 2 -->
			<li>
				<div class="container">
					<h1>Fully responsive grid layout</h1>
					<p>Awaaz is a powerful and responsive Music, Band &amp; DJ HTML Template with pretty much advanced features like display Artists, Albums, Photo Galleries, Video Galleries and Events. </p>
					<a href="#" class="action-button">Preview</a>
				</div>
			</li> <!-- end slide 3 -->
		</ul>
	</div>
</section>

<!-- features area -->
<section id="features">
	<div class="container">
		<!-- welcome message -->
		<div class="welcome-message">
			<h2>Welcome to <span>Awaaz Music</span> Theme</h2>
			<p>Lbendum elit, eu euismod magna sapien ut nibh. Donec semper quam scelerisque tortor dictum gravida. aliquam eget <span>molestie nec, gravida ut sapien.</span></p>
		</div> <!-- end welcome message -->

		<!-- features -->
		<div class="features">
			<div class="row">
				<div class="col-sm-4 feature">
					<div class="feature-icon">
						<i class="feature-icon fa fa-calendar"></i>
					</div>
					<h3>Events</h3>
					<p>Eu euismod magna sapien ut nibh. Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst mauris.</p>
				</div> <!-- end feature 1 -->
				<div class="col-sm-4 feature">
					<div class="feature-icon">
						<i class="feature-icon fa fa-music"></i>
					</div>
					<h3>Albums</h3>
					<p>Bendum elit, eu euismod magna sapien ut nibh. Donec semper quam scelerisque tortor dictum gravida. In hac mauris.</p>
				</div> <!-- end feature 3 -->
				<div class="col-sm-4 feature">
					<div class="feature-icon">
						<i class="feature-icon fa fa-headphones"></i>
					</div>
					<h3>Artists</h3>
					<p>Euismod magna sapien ut nibh. Donec semper quam scelerisque tortor dictum gravida. In hac habitasse platea dictumst. </p>
				</div> <!-- end feature 3 -->
			</div>
		</div> <!-- end features -->
	</div>
</section> <!-- end features area -->